$font-variants: (
	400 normal "Regular",
	400 italic "Italic",
	600 normal "SemiBold",
	700 normal "Bold",
	700 italic "BoldItalic",
	800 normal "ExtraBold",
	900 normal "Black",
);

@each $weight, $style, $suffix in $font-variants {
	@font-face {
		font-family: "Nunito";
		src: url("../fonts/nunito/Nunito-#{$suffix}.woff2") format("woff2");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}
